body{
    background-color: rgb(91, 179, 219);
    font: normal 12pt arial;
}

header{
    text-align: center;
    color: white;
}

section{
    background-color: white;
    width: 300px;
    height: 300px;  
    margin: auto;
    border-radius: 10px;
    box-shadow: 3px 3px 9px rgba(0, 0, 0, 0.473);
}

footer{
color:white;
text-align: center;
font-style: italic;


}

div {
    text-align: center;
    align-items: center;
    padding: 6px;
    
    
}
#foto img{

 width: 85%;
 height: auto;
 object-fit: cover;

}

